<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | Flight Comparison</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="login-bg">

    <div class="login-container">

        <h2 class="welcome-text">
            Welcome
        </h2>

        <p class="subtext">
            Log in to find the best flight deals
        </p>

        <input
            type="email"
            id="email"
            placeholder="Enter your email"
            required
        >

        <input
            type="password"
            id="password"
            placeholder="Enter your password"
            required
        >

        <button onclick="login()">
            Login
        </button>

        <p id="error-message"></p>

    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>